target/
*.swp
*.classpath
*.project
*.epoch
*.lck
*.log
.settings/
b.bat
c.bat
br.bat
r.bat
dumpstorm.bat
popstorm.bat
*.pyc
*.idea/
*.iml
classes/
.gradle/
build/
gradle/
out/
test-output/
allure-results/
tool/data-importer/*.out
buildinfo.properties
argfile*
gradlew*
